
<!doctype html>
<html lang="en">
<head>
  
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="" src="static/js/js-UA-133560070-5.js"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-133560070-5');
  </script>
  

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="static/css/dac39baf67b9.css" type="text/css">

  <title>天文学 </title>
  
  <link rel="canonical" href="">


  
  
  
  <link rel="manifest" href="https://qastack.cn/static/favicon/site.webmanifest">

  <script>var useGDPR = false;</script>

  
  <script async="" src="static/js/adsbygoogle.js"></script>
  <script>
    if(useGDPR) {
        (adsbygoogle = window.adsbygoogle || []).pauseAdRequests = 1;
        
    }
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-0985488874840506",
        enable_page_level_ads: true
    });
  </script>
</head>
<body>
<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/"><img src="static/picture/logo.png" height="30" alt="QA Stack"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
          <li class="nav-item">
            <a class="nav-link" href="">天文学</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/astronomy/tags/">Tags</a>
          </li>
        
      </ul>
      
    </div>
  </div>
</nav>
<section class="container mt-4">
  
  
  
    <h1 class="">天文学</h1>
    <p class="">天文学家和天体物理学家的问答</p>
  

  <div class="row">
    <div class="col-md-9" id="jscroll">
      

  <article class="media">
    <div class="text-center pr-3">
      
      <div>
        <div class="votes-count border rounded" title="answers">
          2 <br> <span class="icon-answers"></span>
        </div>
      </div>
    </div>
    <div class="media-body">
      <a href="/astronomy/24590/how-much-gold-is-there-in-our-sun" class="list-name">我们的阳光下有多少金？</a>
      <div>XKCD 1944声称“太阳中的金子比海洋中的水多”。这是真的吗？</div>
      <div>
        
          <span class="mr-3">
                  <span class="icon-thumbs-up"></span> 128
                </span>
        
        
          <span>
                  
                    <a href="/astronomy/tagged/the-sun/" class="badge badge-warning">the-sun</a>&nbsp;
                  
                </span>
        
      </div>
    </div>
  </article>
  
    <hr>
  

  <article class="media">
    <div class="text-center pr-3">
      
      <div>
        <div class="votes-count border rounded" title="answers">
          2 <br> <span class="icon-answers"></span>
        </div>
      </div>
    </div>
    <div class="media-body">
      <a href="/astronomy/12854/how-loud-would-the-sun-be" class="list-name">太阳多大声？</a>
      <div>声音不能在外层空间传播。但是如果可以的话，太阳会发出多响？声音会对地球上的生命造成危险，还是我们从这个距离几乎听不到声音？</div>
      <div>
        
          <span class="mr-3">
                  <span class="icon-thumbs-up"></span> 117
                </span>
        
        
          <span>
                  
                    <a href="/astronomy/tagged/star/" class="badge badge-warning">star</a>&nbsp;
                  
                    <a href="/astronomy/tagged/the-sun/" class="badge badge-warning">the-sun</a>&nbsp;
                  
                    <a href="/astronomy/tagged/earth/" class="badge badge-warning">earth</a>&nbsp;
                  
                    <a href="/astronomy/tagged/space/" class="badge badge-warning">space</a>&nbsp;
                  
                    <a href="/astronomy/tagged/vacuum/" class="badge badge-warning">vacuum</a>&nbsp;
                  
                </span>
        
      </div>
    </div>
  </article>
  
    <hr>
  

  <article class="media">
    <div class="text-center pr-3">
      
      <div>
        <div class="votes-count border rounded" title="answers">
          6 <br> <span class="icon-answers"></span>
        </div>
      </div>
    </div>
    <div class="media-body">
      <a href="/astronomy/138/does-the-sun-rotate" class="list-name">太阳会旋转吗？</a>
      <div>行星旋转是其产生的后遗症，尘埃云像这样压缩了跨度，并且惯性一直使它自转。 仅通过观察行星的特征在各自视界中的运动即可证明行星在旋转。 对于天文学爱好者来说，这似乎不那么容易辨认。 太阳还会作为其创造的副产品旋转吗？有什么证据支持这一点？太阳是否具有任何可辨别的特征以使其明显旋转？</div>
      <div>
        
          <span class="mr-3">
                  <span class="icon-thumbs-up"></span> 79
                </span>
        
        
          <span>
                  
                    <a href="/astronomy/tagged/the-sun/" class="badge badge-warning">the-sun</a>&nbsp;
                  
                    <a href="/astronomy/tagged/rotation/" class="badge badge-warning">rotation</a>&nbsp;
                  
                    <a href="/astronomy/tagged/star-formation/" class="badge badge-warning">star-formation</a>&nbsp;
                  
                    <a href="/astronomy/tagged/plasma-physics/" class="badge badge-warning">plasma-physics</a>&nbsp;
                  
                </span>
        
      </div>
    </div>
  </article>
  
    <hr>
  

  <article class="media">
    <div class="text-center pr-3">
      
      <div>
        <div class="votes-count border rounded" title="answers">
          2 <br> <span class="icon-answers"></span>
        </div>
      </div>
    </div>
    <div class="media-body">
      <a href="/astronomy/23161/why-is-the-discovery-of-merging-neutron-stars-important" class="list-name">为什么发现合并中子星很重要？</a>
      <div>我相当确定这里的人们已经听说过它，但是显然，大约在1.3亿年前和大约10亿公里之外发生了两次超新星遗留下来的碰撞... 但是，我还没有听到的是为什么我们应该关心。 我的意思是，这是一个有趣的现象，而且测量起来并不容易。 但是现在我们已经听到了...什么变化？ 我承认，我对天文学不是特别了解，但我很好奇： 实现这一目标的意义是什么？我们是否知道为什么重要？</div>
      <div>
        
          <span class="mr-3">
                  <span class="icon-thumbs-up"></span> 76
                </span>
        
        
          <span>
                  
                    <a href="/astronomy/tagged/gravitational-waves/" class="badge badge-warning">gravitational-waves</a>&nbsp;
                  
                    <a href="/astronomy/tagged/neutron-star/" class="badge badge-warning">neutron-star</a>&nbsp;
                  
                </span>
        
      </div>
    </div>
  </article>
  
    <hr>
  

  <article class="media">
    <div class="text-center pr-3">
      
      <div>
        <div class="votes-count border rounded" title="answers">
          13 <br> <span class="icon-answers"></span>
        </div>
      </div>
    </div>
    <div class="media-body">
      <a href="/astronomy/20466/why-dont-astronomers-use-meters-to-measure-astronomical-distances" class="list-name">为什么天文学家不使用仪表来测量天文距离？</a>
      <div>在天文学中，距离通常以非公制单位表示，例如：光年，天文单位（AU），秒差距等。为什么不使用米（或其倍数）来测量距离，因为它们是SI的单位距离？由于该表已经在粒子物理学中用于测量原子的大小，为什么它不能在天体物理学中用于测量宇宙中的大距离？ 例如： 国际空间站绕地球约400公里旋转。 太阳的直径为1.39 Gm（千兆米）。 距仙女座星系的距离为23 Zm（zettameters）。 冥王星最远处距太阳5.83 Tm（太米）。 编辑：有些人回答说仪表太小，因此对于大距离的测量是不直观的，但是在很多情况下这不是问题，例如： 字节用于测量巨大的数据量，例如TB（1e + 12）或PB（1e + 15） 大型爆炸释放的能量通常以百万吨表示，基于克（1e + 12） SI单位赫兹通常以千兆赫（1e + 9）或太赫兹（1e + 12）表示，用于测量网络频率或处理器时钟速度。 如果不使用仪表的主要原因是历史原因，那么是否有理由期望SI单位将成为天文学的标准，就像世界上大多数国家将其从本地单位转换为SI单位来进行日常测量一样？</div>
      <div>
        
          <span class="mr-3">
                  <span class="icon-thumbs-up"></span> 74
                </span>
        
        
          <span>
                  
                    <a href="/astronomy/tagged/distances/" class="badge badge-warning">distances</a>&nbsp;
                  
                    <a href="/astronomy/tagged/units/" class="badge badge-warning">units</a>&nbsp;
                  
                </span>
        
      </div>
    </div>
  </article>
  
    <hr>
  

  <article class="media">
    <div class="text-center pr-3">
      
      <div>
        <div class="votes-count border rounded" title="answers">
          2 <br> <span class="icon-answers"></span>
        </div>
      </div>
    </div>
    <div class="media-body">
      <a href="/astronomy/24810/could-the-dinosaurs-have-seen-the-asteroid-that-killed-them" class="list-name">恐龙会看到杀死他们的小行星吗？</a>
      <div>维基百科说，Chicxulub撞击器被认为是直径10-15公里的物体。难道已经可见的（人*）肉眼影响过吗？如果是这样，它会像星星一样每晚变得越来越亮吗？ *我知道，当时没有人。</div>
      <div>
        
          <span class="mr-3">
                  <span class="icon-thumbs-up"></span> 69
                </span>
        
        
          <span>
                  
                    <a href="/astronomy/tagged/asteroids/" class="badge badge-warning">asteroids</a>&nbsp;
                  
                    <a href="/astronomy/tagged/comets/" class="badge badge-warning">comets</a>&nbsp;
                  
                    <a href="/astronomy/tagged/history/" class="badge badge-warning">history</a>&nbsp;
                  
                    <a href="/astronomy/tagged/naked-eye/" class="badge badge-warning">naked-eye</a>&nbsp;
                  
                </span>
        
      </div>
    </div>
  </article>
  
    <hr>
  

  <article class="media">
    <div class="text-center pr-3">
      
      <div>
        <div class="votes-count border rounded" title="answers">
          1 <br> <span class="icon-answers"></span>
        </div>
      </div>
    </div>
    <div class="media-body">
      <a href="/astronomy/16311/how-can-there-be-1-000-stellar-ancestors-before-our-sun" class="list-name">在我们的太阳之前怎么会有1000个恒星祖先？</a>
      <div>我从一些消息来源获悉*最近，太阳是第1000代恒星，这意味着基于其重元素含量，太阳先于其上千个恒星。 我知道，较早的恒星的超新星产生了较重的元素，这些元素在太阳形成时就被并入了太阳，我们可以据此计算出世代。 我的问题基于宇宙的年龄，太阳的年龄以及星系中恒星的平均年龄。 基本上，宇宙大约是137亿年，太阳大约是46亿年（还有大约50亿年的生命），这意味着它是在宇宙大约91亿年时形成的。 要使1000颗恒星在该时间段内存活，这些恒星的平均寿命必须约为900万年（不包括恒星之间的时间）。这相当于每千颗恒星的平均质量约为100-150太阳质量，因此它们的寿命将非常短，以至于不会超过900万年的寿命。 因此，基本上，有1000颗恒星在我们的太阳之前生存和死亡，所有这些都是巨大的怪物。这一切似乎都是不可能的。怎么会这样？ *电视节目，我不记得是哪一个</div>
      <div>
        
          <span class="mr-3">
                  <span class="icon-thumbs-up"></span> 69
                </span>
        
        
          <span>
                  
                    <a href="/astronomy/tagged/the-sun/" class="badge badge-warning">the-sun</a>&nbsp;
                  
                    <a href="/astronomy/tagged/stellar-evolution/" class="badge badge-warning">stellar-evolution</a>&nbsp;
                  
                </span>
        
      </div>
    </div>
  </article>
  
    <hr>
  

  <article class="media">
    <div class="text-center pr-3">
      
      <div>
        <div class="votes-count border rounded" title="answers">
          4 <br> <span class="icon-answers"></span>
        </div>
      </div>
    </div>
    <div class="media-body">
      <a href="/astronomy/2398/is-the-moon-only-60-pixels" class="list-name">月亮只有60像素吗？</a>
      <div>在进行视觉研究时，我了解到“ 20/20”视觉对应于能够分辨1弧分的细节的视敏度，大多数人的视力约为20/15，并且由于生理学的限制基本上没有人拥有比20/10视力更好的视力。这是解析大约0.5弧分钟的细节的上限。 根据维基百科，用肉眼观察时，月球的宽度约为30弧分。 将它们放在一起，似乎是说用肉眼看月亮时，没有人能看到比60×60的月球图像中可见的更多细节 ，而且普通人看不到比这些东西更多的细节。 40×40版本 在我的显示器上，这些看起来很小。那真的是我用肉眼在月球上看到的所有细节吗？</div>
      <div>
        
          <span class="mr-3">
                  <span class="icon-thumbs-up"></span> 65
                </span>
        
        
          <span>
                  
                    <a href="/astronomy/tagged/the-moon/" class="badge badge-warning">the-moon</a>&nbsp;
                  
                    <a href="/astronomy/tagged/naked-eye/" class="badge badge-warning">naked-eye</a>&nbsp;
                  
                    <a href="/astronomy/tagged/angular-resolution/" class="badge badge-warning">angular-resolution</a>&nbsp;
                  
                </span>
        
      </div>
    </div>
  </article>
  
    <hr>
  

  <article class="media">
    <div class="text-center pr-3">
      
      <div>
        <div class="votes-count border rounded" title="answers">
          4 <br> <span class="icon-answers"></span>
        </div>
      </div>
    </div>
    <div class="media-body">
      <a href="/astronomy/8100/how-does-the-earth-move-in-the-sky-as-seen-from-the-moon" class="list-name">从月球看，地球如何在天空中运动？</a>
      <div>我只想确保我能正确看到它，因为这似乎很奇怪。月亮被潮汐锁定在地球上，但由于解放，它的运动有些摇摆。那么，从月球近侧表面上的某个点来看，地球将永远位于天空中的同一位置吗？它会描述一个月内的一个小圆圈或左右摇摆，但从那一点开始不会远吗？ 这似乎很奇怪，就像是一个巨大的舞台道具之类的东西一样。我们的条件如此之好，以至于一切都起伏不定（极点附近只有几颗恒星）。</div>
      <div>
        
          <span class="mr-3">
                  <span class="icon-thumbs-up"></span> 63
                </span>
        
        
          <span>
                  
                    <a href="/astronomy/tagged/the-moon/" class="badge badge-warning">the-moon</a>&nbsp;
                  
                    <a href="/astronomy/tagged/earth/" class="badge badge-warning">earth</a>&nbsp;
                  
                    <a href="/astronomy/tagged/observational-astronomy/" class="badge badge-warning">observational-astronomy</a>&nbsp;
                  
                    <a href="/astronomy/tagged/orbital-elements/" class="badge badge-warning">orbital-elements</a>&nbsp;
                  
                </span>
        
      </div>
    </div>
  </article>
  
    <hr>
  

  <article class="media">
    <div class="text-center pr-3">
      
      <div>
        <div class="votes-count border rounded" title="answers">
          6 <br> <span class="icon-answers"></span>
        </div>
      </div>
    </div>
    <div class="media-body">
      <a href="/astronomy/16/why-is-only-one-side-of-the-moon-visible-from-earth" class="list-name">为什么从地球只能看到月球的一侧？</a>
      <div>为什么我们只看到月亮的同一侧？ 如果这与重力有关，那么是否存在任何变量，这意味着我们可能有一天会比以前看到更多？</div>
      <div>
        
          <span class="mr-3">
                  <span class="icon-thumbs-up"></span> 61
                </span>
        
        
          <span>
                  
                    <a href="/astronomy/tagged/the-moon/" class="badge badge-warning">the-moon</a>&nbsp;
                  
                    <a href="/astronomy/tagged/orbit/" class="badge badge-warning">orbit</a>&nbsp;
                  
                </span>
        
      </div>
    </div>
  </article>
  
    <hr>
  

  <article class="media">
    <div class="text-center pr-3">
      
      <div>
        <div class="votes-count border rounded" title="answers">
          2 <br> <span class="icon-answers"></span>
        </div>
      </div>
    </div>
    <div class="media-body">
      <a href="/astronomy/30579/can-gravitational-waves-pass-through-a-black-hole" class="list-name">引力波可以穿过黑洞吗？</a>
      <div>如标题所述，当引力波接近黑洞时会发生什么？我想会因为时空在黑洞附近工作的方式而发生一些有趣的事情，但是我不知道如何支持它。</div>
      <div>
        
          <span class="mr-3">
                  <span class="icon-thumbs-up"></span> 59
                </span>
        
        
          <span>
                  
                    <a href="/astronomy/tagged/black-hole/" class="badge badge-warning">black-hole</a>&nbsp;
                  
                    <a href="/astronomy/tagged/general-relativity/" class="badge badge-warning">general-relativity</a>&nbsp;
                  
                    <a href="/astronomy/tagged/gravitational-waves/" class="badge badge-warning">gravitational-waves</a>&nbsp;
                  
                </span>
        
      </div>
    </div>
  </article>
  
    <hr>
  

  <article class="media">
    <div class="text-center pr-3">
      
      <div>
        <div class="votes-count border rounded" title="answers">
          5 <br> <span class="icon-answers"></span>
        </div>
      </div>
    </div>
    <div class="media-body">
      <a href="/astronomy/30339/why-not-take-a-picture-of-a-closer-black-hole" class="list-name">为什么不拍摄更近的黑洞？</a>
      <div>当然，还有比梅西耶87更近的星系，甚至包括我们的星系！令我好奇的是，它们离一千五百三十万光年远。是否有一个原因？</div>
      <div>
        
          <span class="mr-3">
                  <span class="icon-thumbs-up"></span> 59
                </span>
        
        
          <span>
                  
                    <a href="/astronomy/tagged/black-hole/" class="badge badge-warning">black-hole</a>&nbsp;
                  
                    <a href="/astronomy/tagged/supermassive-black-hole/" class="badge badge-warning">supermassive-black-hole</a>&nbsp;
                  
                    <a href="/astronomy/tagged/event-horizon-telescope/" class="badge badge-warning">event-horizon-telescope</a>&nbsp;
                  
                </span>
        
      </div>
    </div>
  </article>
  
    <hr>
  

  <article class="media">
    <div class="text-center pr-3">
      
      <div>
        <div class="votes-count border rounded" title="answers">
          4 <br> <span class="icon-answers"></span>
        </div>
      </div>
    </div>
    <div class="media-body">
      <a href="/astronomy/22651/does-the-milky-way-move-through-space" class="list-name">银河会在太空中移动吗？</a>
      <div>我们的星系会在太空中移动吗？还是将它留在一个位置？如果它移动了，是什么导致它移动？</div>
      <div>
        
          <span class="mr-3">
                  <span class="icon-thumbs-up"></span> 57
                </span>
        
        
          <span>
                  
                    <a href="/astronomy/tagged/galaxy/" class="badge badge-warning">galaxy</a>&nbsp;
                  
                    <a href="/astronomy/tagged/universe/" class="badge badge-warning">universe</a>&nbsp;
                  
                    <a href="/astronomy/tagged/milky-way/" class="badge badge-warning">milky-way</a>&nbsp;
                  
                </span>
        
      </div>
    </div>
  </article>
  
    <hr>
  

  <article class="media">
    <div class="text-center pr-3">
      
      <div>
        <div class="votes-count border rounded" title="answers">
          3 <br> <span class="icon-answers"></span>
        </div>
      </div>
    </div>
    <div class="media-body">
      <a href="/astronomy/33018/what-is-the-hottest-thing-in-the-universe" class="list-name">宇宙中最热的东西是什么？</a>
      <div>从我7岁那一刻起，就一直到封面，上面写着： 宇宙中最热的东西是什么？ 为了使其对Stack Exchange友好，我将添加以下警告： 它应该是有界的，例如在实际的紧凑对象，对象类别或对象的一部分中 它应该是可观察的 它应该是一个天文物体，即由大型强子对撞机碰撞产生的夸克胶子等离子体不计算在内。 谢谢布鲁斯</div>
      <div>
        
          <span class="mr-3">
                  <span class="icon-thumbs-up"></span> 54
                </span>
        
        
          <span>
                  
                    <a href="/astronomy/tagged/observable-universe/" class="badge badge-warning">observable-universe</a>&nbsp;
                  
                    <a href="/astronomy/tagged/heat/" class="badge badge-warning">heat</a>&nbsp;
                  
                </span>
        
      </div>
    </div>
  </article>
  
    <hr>
  

  <article class="media">
    <div class="text-center pr-3">
      
      <div>
        <div class="votes-count border rounded" title="answers">
          5 <br> <span class="icon-answers"></span>
        </div>
      </div>
    </div>
    <div class="media-body">
      <a href="/astronomy/17875/when-will-the-sun-end-all-human-life-on-earth" class="list-name">太阳什么时候才能结束地球上所有人类的生命？</a>
      <div>如果在此之前没有其他方法能够消灭人类的生存，那么太阳将在什么时候使地球不适合人类居住？</div>
      <div>
        
          <span class="mr-3">
                  <span class="icon-thumbs-up"></span> 54
                </span>
        
        
          <span>
                  
                    <a href="/astronomy/tagged/the-sun/" class="badge badge-warning">the-sun</a>&nbsp;
                  
                </span>
        
      </div>
    </div>
  </article>
  
    <hr>
  



  <a href="/astronomy/?page=2" class="jscroll-next"></a>


      <script async="" src="static/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-0985488874840506" data-ad-slot="3754689244" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
    <div class="col-md-3">
      <script async="" src="static/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-0985488874840506" data-ad-slot="2153477748" data-ad-format="auto" data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
    </div>
  </div>

</section>



<section class="bg-light py-3 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-muted font-weight-lighter">
        <small>
          
          
            By using our site, you acknowledge that you have read and understand our
            <a href='/legal/cookies-policy.html' target='_blank' rel='nofollow'>Cookie Policy</a> and
            <a href='/legal/privacy-policy.html' target='_blank' rel='nofollow'>Privacy Policy</a>.
          
        </small>
      </div>
      <div class="col-md-6 text-muted text-right font-weight-lighter">
        <small>
          Licensed under <a href="https://creativecommons.org/licenses/by-sa/3.0/" target="_blank">cc by-sa 3.0</a>
          with attribution required.
          
        </small>
      </div>
    </div>
  </div>
</section>

<script type="text/javascript" src="static/js/0718fd69c824.js"></script>

</body>
</html>